# Python
backend/.venv/
**/__pycache__/
*.py[cod]
.pytest_cache/

# Environment / secrets
backend/.env
.env
.env.*

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db


# Local development tools
backend/cloud-sql-proxy.exe
abhinava.dump
cloud-sql-proxy
